  <!DOCTYPE html>
  <html lang="en">
  <head>
  <title>About</title>
  <meta charset="utf-8" />
          <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
          <meta name="description" content="" />
          <meta name="author" content="" />
          <!-- Favicon-->
          <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
          <!-- Bootstrap Icons-->
          <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
          <!-- Google fonts-->
          <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet" />
          <link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic" rel="stylesheet" type="text/css" />
          <!-- SimpleLightbox plugin CSS-->
          <link href="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css" rel="stylesheet" />
          <!-- Core theme CSS (includes Bootstrap)-->
          <link href="/public/stylesheets/styles.css" rel="stylesheet" />
          <link href="/public/stylesheets/about.css" rel="stylesheet" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Study Abroad</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index">Home <span class="sr-only"></span></a>
          </li>
          <li class="nav-item">
              <a class="nav-link" href="contact">Contact</a>
            </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Mentor
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="mregister">Mentor Registration</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="login">Login</a>
            </div>
          </li>
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Student
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="cregister">Student Registration</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="login">Login</a>
              </div>
            </li>
        </ul>
      </div>
    </nav>
    
    <!--about section of the page-->
    <div class="about.c">
      <div class="about-section">
          <h1>About Us</h1>
          <p>Each opportunity carries points, allocated based on the time and efforts required. For example, a 30-minute interview preparation advice call carries 100 points.</p>
          <p>Points are awarded after the call, and they accumulate over time resulting in badges as shown.</p>
        </div>
        
        <h2 style="text-align:center">Our Team</h2>
        <div class="row">
          <div class="column">
            <div class="card">
              <img src="/public/images/img/travel.jpg" alt="Robin" style="width:100%">
              <div class="container">
                <h2>Robin Daultani</h2>
                <p class="title">CEO & Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>robin@example.com</p>
                <p><button class="btn btn-primary"class="button">Contact</button></p> <!--used .btn class from the style. css-->
              </div>
            </div>
          </div>
        
          <div class="column">
            <div class="card">
              <img src="/public/images/img/travel2.jpg" alt="Manish" style="width:100%">
              <div class="container">
                <h2>Manish</h2>
                <p class="title">Co-Founder</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>manish@example.com</p>
                <p><button class="btn btn-primary"class="button">Contact</button></p>
              </div>
            </div>
          </div>
          
          <div class="column">
            <div class="card">
              <img src="/public/images/img/travel3.jpg" alt="David" style="width:100%">
              <div class="container">
                <h2>David</h2>
                <p class="title">Marketing</p>
                <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                <p>david@example.com</p>
                <p><button class="btn btn-primary"class="button">Contact</button></p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
      <footer class="bg-light py-5">
        <div class="container px-4 px-lg-5"><div class="small text-center text-muted">Copyright &copy; 2021 - Study Abroad</div></div>
    </footer>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"></script>
    <!-- SimpleLightbox plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js"></script>
    <!-- Core theme JS-->
    <script src="/public/javascripts/scripts.js"></script>
  

  </body>
  </html>